.heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 12rem;
  background-color: hsl(0, 0%, 40%);
  background: url("https://lh3.googleusercontent.com/proxy/D5Qevmphv3T3Hn9co0b_578chyvSt5-HeXnviLqJ2s2xdROjvITfnsj_zBHrYLZBxmIXX9OCZGxdvh7An57ZWPUdleemHlgR4Bg1yqiVyvWmQ9Gy0hy2OVyiKWaZJX4_Ww");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: right top;
  margin-bottom: 3em;
}

.heading h1 {
  font-size: 3rem;
  font-weight: 900;
  margin-block-end: 0em;
}

.main-container {
  height: 100vh;
  margin: 0 auto;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background-color: rgb(47, 203, 148);
}